/* language visibility */

.DE.unset, 
.DE.block{
  display: none;
}

:root.DE .DE.block{
  display: block;
}
:root.DE .DE.unset{
  display: unset;
}
:root.DE .EN.unset,
:root.DE .EN.block{
  display: none;
}

/* switch */

[role="switch"]{
  padding: 0;
  display: inline-flex;
  border: solid var(--button-border-width) var(--border-color);
  color: var(--background-color);
  background-color: var(--text-color);
}
[role="switch"]:hover{
  box-shadow: var(--focus-box-shadow);
}

[role="switch"] span{
  padding: 0.5em;
  display: inline-block;
}

/* passive */
[role="switch"][aria-checked="false"]>:first-child,
[role="switch"][aria-checked="true"]>:last-child {
  background: var(--background-color);
}
[role="switch"][aria-checked="false"] span:first-child,
[role="switch"][aria-checked="true"] span:last-child {
  color: var(--text-color);
}
[role="switch"][aria-checked="false"] svg:first-child,
[role="switch"][aria-checked="true"] svg:last-child {
  stroke: var(--text-color);
}

/* active */
[role="switch"][aria-checked="true"] span:first-child,
[role="switch"][aria-checked="true"] svg:first-child,
[role="switch"][aria-checked="false"] span:last-child,
[role="switch"][aria-checked="false"] svg:last-child {
  box-shadow: inset 0 0 0 2px var(--background-color);
}
